.main {
    padding: 1em;
    margin: 1em;
    height: inherit;
    display: flex;
    flex-direction: column;
    text-align: center;
}

.main div {
    padding-bottom: 1em;
    display: flex;
    flex-direction: column;
}

.main div input {
    margin-top: 1em;
    height: 2em;
    width: 12em;
    white-space: nowrap;
    align-self: center;
    text-align: center;
    border-radius: 2px;
    border-style: none;
}

.main button {
    padding: 1em;
    width: 12em;
    white-space: nowrap;
    align-self: center;
    text-align: center;
    background-color: #12263a;
    border-color: #12263a;
    border-radius: 5px;
    color: white;
}

.main h3 {
    margin-top: 1em;
}