.navbar {
    display: flex;
    flex-direction: row;
    list-style: none;
    background-color: #12263a;
    padding: 1em 0;
}

a {
    text-decoration: none;
    color: white;
    padding: 0 1em;
}