.main {
    height: inherit;
    padding: 0 25%;
    display: flex;
    flex-direction: column;
    text-align: center;
}

.main h1 {
    margin: 1em;
    padding: 1em;
}

.login {
    padding: 1em;
    width: 12em;
    white-space: nowrap;
    align-self: center;
    text-align: center;
    background-color: #12263a;
    border-style: none;
    border-color: #12263a;
    border-radius: 5px;
}

.login a {
    margin: 0;
    padding: 0;
    color: white;
}