.main {
    padding: 1em;
    height: inherit;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    list-style: none;
}

.main li {
    margin-top: 1em;
    height: 3em;
    width: 100%;
    white-space: nowrap;
    display: flex;
    justify-content: space-between;
    border-style: none;
    background-color: #9bc0b2;
}