.update {
    display: flex;
    justify-content: space-between;
    width: 90%;
    position: relative;
}

.text {
    height: 100%;
    width: 100%;
    text-align: left;
    padding: 0.6em 0 0 2em;
}

.input {
    z-index: 1;
    position: absolute;
    width: 100%;
    height: 100%;
    border-style: none;
}

.input input {
    width: 90%;
    height: 100%;
    padding-left: 2em;
}

.updateButton {
    background-color: grey;
    border-color: grey;
    border-style: none;
    width: 10%;
}

.confirmButton {
    background-color: darkgreen;
    border-color: darkgreen;
    border-style: none;
    width: 10%;
    height: 100%;
    color: white;
}